<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"
		content="IE=edge">
	<meta name="viewport"
		content="width=device-width,
				initial-scale=1.0">
	<title>Restaurant Management System</title>
	<!--==================== UNICONS ====================-->
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
	<link rel="stylesheet"
		href="check.css">
	<link rel="stylesheet"
		href="responsive.css">
</head>

<body>

	<!-- for header part -->
	<header>
		<div class="logosec">
			<div class="logo">Restaurant Management System</div>
			<!-- <img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20221210182541/Untitled-design-(30).png"
				class="icn menuicn"
				id="menuicn"
				alt="menu-icon"> -->
		</div>

		

		<div class="message">
			
			
				<a href="/logout">
					<i class="uil uil-sign-out-alt nav_icon"></i>
				</a>
			
		</div>

	</header>

	<div class="main-container">
		<div class="navcontainer">
			<nav class="nav">
				<div class="nav-upper-options">

					<div class="nav-option option1">
                        <a href="/">
							<i class="uil uil-angle-double-right nav_icon"></i>
                            </a>
						<h3> Dashboard</h3>
					</div>

					<div class="option2 nav-option">
                        <a href="/foodCategory">
							<i class="uil uil-angle-double-right nav_icon"></i>
                        </a>
						<h3> Category</h3>
					</div>

					<div class="nav-option option3">
                        <a href="/view-all-food">
							<i class="uil uil-angle-double-right nav_icon"></i>
                        </a>
						<h3> Items</h3>
					</div>

					

					

					<div class="nav-option option6">
                        <a href="/sloting">
							<i class="uil uil-angle-double-right nav_icon"></i>
                            </a>
						<h3>Table Booked</h3>
					</div>

					<div class="nav-option logout">
                        <a href="/create">
							<i class="uil uil-angle-double-right nav_icon"></i>
                            </a>  
						<h3>Add Worker</h3>
					</div>

					<div class="nav-option logout">
                        <a href="/works">
							<i class="uil uil-angle-double-right nav_icon"></i>
                            </a>  
						<h3>View Worker</h3>
					</div>


				</div>
			</nav>
		</div>
		<div class="main">

			<!-- <div class="searchbar2">
				<input type="text"
					name=""
					id=""
					placeholder="Search">
				<div class="searchbtn">
				<img src=
"https://media.geeksforgeeks.org/wp-content/uploads/20221210180758/Untitled-design-(28).png"
						class="icn srchicn"
						alt="search-button">
				</div>
			</div> -->

			<div class="box-container">

				<div class="box box1">
					<div class="text">
						<h2 class="topic-heading" style="text-align: center;"><%= cats.length %></h2>
						<h2 class="topic">Total Category</h2>
					</div>

				</div>

				<div class="box box2">
					<div class="text">
						<h2 class="topic-heading" style="text-align: center;"><%= foods.length %></h2>
						<h2 class="topic">Total Items</h2>
					</div>

					
				</div>



				<div class="box box4">
					<div class="text">
						<h2 class="topic-heading" style="text-align: center;"><%= slots.length %></h2>
						<h2 class="topic">Slot Booked</h2>
					</div>

					
				</div>
			</div>

			
			<div class="report-container">
				<div class="report-header">
					<h1 class="recent-Articles">Summary</h1>
					<button class="view">View All</button>
				</div>

					<div class="report-body">
						<div class="report-topic-heading">

							
							<h3 class="t-op">Name</h3>
							<h3 class="t-op">Products Name</h3>
							<h3 class="t-op">Quantities</h3>
							<h3 class="t-op">Price</h3>
							
						</div>
	 
						<div class="items">
							<% if(qtys.length>0){
								qtys.forEach(function(row){
								
								%>
							<div class="item1">
								<h3 class="t-op-nextlvl"><%= row.username %></h3>
								<h3 class="t-op-nextlvl"><%= row.pname %></h3>
								<h3 class="t-op-nextlvl"><%= row.qty %></h3>
								<h3 class="t-op-nextlvl"><%= row.pprice %></h3>
								
							</div>
	 
							<% })} %>
	   
						</div>
					</div>
				</div>
			</div>
		</div>
	 

	<script src="main.js"></script>
</body>
</html>
